{{!yield}}
{{! 左侧菜单}}
<div id="wrapper">

	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<div class="container">
			<div class="row">
				<div class="well ape-note-well">
					<div class="tree-menu">
						<ul class="nav nav-list">
							{{#each model.notebooks as |item|}}
							<li class="notebook-list">
								<div class="tree-toggler nav-header sidebar-header">
									{{#link-to "notebook.note" item.id 2}}
										<span class="glyphicon glyphicon-chevron-right"></span>&nbsp;{{item.title}}
									{{/link-to}}
								</div>
								<ul class="nav nav-list tree collapse">
									{{#each item.note as |note|}}
									<li>
										{{#link-to "notebook.note" item.id note.id class="nav-list-link"}}
											<span class="glyphicon glyphicon-file"></span>&nbsp;{{note.title}}
										{{/link-to}}
									</li>
									{{/each}}
								</ul>
							</li>
							<li class="divider"></li>
							{{/each}}
							{{!
							<li>
								<div class="tree-toggler nav-header sidebar-header">
									<span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;技术学习
								</div>
								<ul class="nav nav-list tree collapse">
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;阿里云服务器配置阿里云服务器配置阿里云服务器配置</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;部署新浪git命令</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;创建npm插件</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;发布项目，加入CRUD功能</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;模型、保存数据到数据库</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;使用ember-simple-auth实现Ember.js应用的权限控制</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;ember项目部署</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;git使用笔记</a></li>
								</ul>
							</li>
							}}
						</ul>

						<!-- 收起左侧菜单面板
						<div class="close-menu-panel">
							<div class="edit-share-setting-tools">
								<span class="glyphicon glyphicon-edit" title="编辑"></span>&nbsp;
								<span class="glyphicon glyphicon-fullscreen" title="全屏"></span>&nbsp;
								<span class="glyphicon glyphicon-share" title="分享"></span>&nbsp;
								<span class="glyphicon glyphicon-cog" title="更多"></span>
							</div>
							<span class="glyphicon glyphicon-chevron glyphicon-chevron-left"></span>
						</div>
						-->
					</div>

					
				</div>
			</div>
		</div>
	</div>
	<!-- /#sidebar-wrapper -->

	<!-- 右边主要内容区 -->
	{{show-note}}

</div>
<!-- /#wrapper -->

<div class="new-folder-file dropup">

	<a class="btn btn-default dropdown-toggle" id="dropdownMenu"
		data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="glyphicon glyphicon-plus"></span>
	</a>

  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
	<li><a href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;新建Markdown笔记</a></li>
	<li><a href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;新建普通笔记</a></li>
	<li role="separator" class="divider"></li>
	<li data-toggle="modal" data-target=".create-notebook-modal-sm">
		<a href="#" ><span class="glyphicon glyphicon-book"></span>&nbsp;新建笔记本</a>
	</li>
  </ul>

</div>