{{!yield}}
{{! 左侧菜单}}
<div id="wrapper">

	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<div class="container">
			<div class="row">
				<div class="well ape-note-well">
					<div class="tree-menu">
						<ul class="nav nav-list">
							<li>
								<div class="tree-toggler nav-header sidebar-header">
									<span class="glyphicon glyphicon-chevron-right"></span>&nbsp;默认笔记本
								</div>
								<ul class="nav nav-list tree collapse">
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;阿里云服务器配置</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;部署新浪git命令</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;创建npm插件</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;发布项目，加入CRUD功能</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;模型、保存数据到数据库</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;使用ember-simple-auth实现Ember.js应用的权限控制</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;ember项目部署</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;git使用笔记</a></li>
								</ul>
							</li>
							<li class="divider"></li>
							<li>
								<div class="tree-toggler nav-header sidebar-header">
									<span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;技术学习
								</div>
								<ul class="nav nav-list tree collapse">
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;阿里云服务器配置阿里云服务器配置阿里云服务器配置</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;部署新浪git命令</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;创建npm插件</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;发布项目，加入CRUD功能</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;模型、保存数据到数据库</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;使用ember-simple-auth实现Ember.js应用的权限控制</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;ember项目部署</a></li>
									<li><a class="nav-list-link" href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;git使用笔记</a></li>
								</ul>
							</li>
						</ul>

						<!-- 收起左侧菜单面板 -->
						<div class="close-menu-panel">
							<div class="edit-share-setting-tools">
								<span class="glyphicon glyphicon-edit" title="编辑"></span>&nbsp;
								<span class="glyphicon glyphicon-fullscreen" title="全屏"></span>&nbsp;
								<span class="glyphicon glyphicon-share" title="分享"></span>&nbsp;
								<span class="glyphicon glyphicon-cog" title="更多"></span>
							</div>
							<span class="glyphicon glyphicon-chevron glyphicon-chevron-left"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /#sidebar-wrapper -->

	<!-- 右边主要内容区 -->
	<div id="page-content-wrapper">
		<div class="container-fluid">
			<!-- 笔记信息 -->
			<!-- <div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<form role="form">
						<div class="form-group has-default has-feedback">
						  <input type="text" class="form-control" id="inputSuccess2">
						  <span class="glyphicon glyphicon-plus form-control-feedback"></span>
						</div>
					</form>
				</div>
			</div> -->
			<!-- 显示笔记页面 -->
			{{show-note}}
			
		</div>
	</div>
	<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
