<div id="sidebar-wrapper">
    <div class="container">
        <div class="row">
            <div class="well ape-note-well">
                <div class="tree-menu">
                    <ul class="nav nav-list">
                        {{#each model.notebooks as |item|}}
                        <li class="notebook-list">
                            <div class="tree-toggler nav-header sidebar-header">
                                {{#link-to 'notebook' item.id}}
                                    <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;{{item.title}}
                                {{/link-to}}
                            </div>
                            <ul class="nav nav-list tree collapse">
								<li>
									item.notes.len={{item.notes.length}}
								</li>
								
                                {{#each item.notes as |nt|}}
                                <li>
                                    {{#link-to "notebook.note" item.id nt.id class="nav-list-link"}}
                                        <span class="glyphicon glyphicon-file"></span>&nbsp;{{nt.title}}
                                    {{/link-to}}
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                        <li class="divider"></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
