// 设置编辑器位置样式
#editormd {
    position: fixed !important;
    // top: 50px;
    overflow: hidden;;
    height: 100vh !important;
    // margin-top: 50px;
        // width: 100%;
}
.editormd-toolbar {

}

﻿.CodeMirror {
    width: 50% ;
	height: 100vh !important;
	padding-bottom: 100px;
	//padding-top: 10px;
}

.editormd .editormd-preview {
	width: 50% ;
	height: 100vh !important;
	padding-bottom: 100px;
	position: relative !important;
}
.CodeMirror-lines {
	//padding-top: 10px !important;
	padding-bottom: 160px !important;
}
.CodeMirror-scroll {
	padding-bottom: 60px !important;
    height: 100vh !important;
}
.CodeMirror-gutters{
	height: 100vh;
}
.CodeMirror-code {
    padding-bottom: 50px;
}

.editormd-preview-close-btn {
	z-index: 1100;
    background-color: #afafaf;
    position: fixed;
    width: 45px;
    height: 45px;
    padding: 14px;
    padding-left: 16px;
	top: 100px;
}
.editormd-preview-close-btn:hover {
	text-decoration: none;
    color: white;
}
.editormd-preview-theme-dark {
    color: #777;
    background:#2C2827;
}

.editormd-preview-theme-dark .editormd-toc-menu > .markdown-toc {
    background:#fff;
    border:none;
}

.editormd-preview-theme-dark .editormd-toc-menu > .markdown-toc h1{
    border-color:#ddd;
}

.editormd-preview-theme-dark .markdown-body h1,
.editormd-preview-theme-dark .markdown-body h2,
.editormd-preview-theme-dark .markdown-body hr {
    border-color: #222;
}

.editormd-preview-theme-dark .editormd-preview-container  blockquote {
    color: #555;
    border-color: #333;
    background: #222;
    padding: 0.5em;
}

.editormd-preview-theme-dark .editormd-preview-container abbr {
    background:#ff9900;
    color: #fff;
    padding: 1px 3px;
    border-radius: 3px;
}

.editormd-preview-theme-dark .editormd-preview-container code {
    background: #5A9600;
    color: #fff;
    border: none;
    padding: 1px 3px;
    border-radius: 3px;
}

.editormd-preview-theme-dark .editormd-preview-container table {
    border: none;
}

.editormd-preview-theme-dark .editormd-preview-container .fa-emoji {
    color: #B4BF42;
}

.editormd-preview-theme-dark .editormd-preview-container .katex {
    color: #FEC93F;
}

.editormd-preview-theme-dark [class*=editormd-logo] {
    color: #2196F3;
}

.editormd-preview-theme-dark .sequence-diagram text {
    fill: #fff;
}

.editormd-preview-theme-dark .sequence-diagram rect,
.editormd-preview-theme-dark .sequence-diagram path {
    color:#fff;
    fill : #64D1CB;
    stroke : #64D1CB;
}

.editormd-preview-theme-dark .flowchart rect,
.editormd-preview-theme-dark .flowchart path {
    stroke : #A6C6FF;
}

.editormd-preview-theme-dark .flowchart rect {
    fill: #A6C6FF;
}

.editormd-preview-theme-dark .flowchart text {
    fill: #5879B4;
}

// ========================== 覆盖编辑器文字内容样式
.cm-header-1 {
	padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
	position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
}
.cm-header-2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
	position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
}
.cm-header-3 {
	font-size: 1.5em;
    line-height: 1.43;
}
.cm-header-4 {
	font-size: 1.25em;
}
.cm-header-5 {
	font-size: 1em;
}
.cm-header-6 {
	font-size: 1em;
    color: #777;
}
