// 左侧笔记本列表
#wrapper {
    padding-left: 250px;
}

#wrapper.toggled {
    padding-left: 0;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100vh;
    margin-left: -250px;
    overflow-y: auto;
    background: #ffffff;
    padding-bottom: 30px;
    width: 250px;
}

#wrapper.toggled #sidebar-wrapper {
    //width: 0 !important;
}

// 右侧主要内容区
#page-content-wrapper {
    // width: 768px;
    // min-width: 768px;
    // overflow-y: auto;
    height: 100%;
	color: #2f2f2f;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    //padding: 20px 60px;
    //padding-bottom: 100px;
	//padding-left: 20px;
    // display: flex;
	margin-top: 50px;
	//
	//position: fixed;
	overflow: hidden;
}
// #page-content-wrapper .container-fluid {
//     width: 100%;
// }
// #page-content-wrapper .container-fluid .row .word-break {
//     word-break: break-all;
// }
// // 设置右侧顶部标题样式
// #page-content-wrapper .container-fluid .row form .has-feedback .form-control-feedback {
//     left: 0 !important;
// }
// #page-content-wrapper .container-fluid .row form .has-feedback .form-control {
//     padding-left: 30px;
// }

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #333;
}

.sidebar-header:hover,
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #111;
    background: #eee;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #333;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
// 左侧菜单面板
.ape-note-well {
    width: 260px;
    padding: 0;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}
.ape-note-well .tree-menu {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
	background: #efefef;
    padding-bottom: 50px;
}
// 右侧新建按钮
.new-folder-file {
    position: fixed;
    right: 50px;
    bottom: 100px;
    z-index: 1100;
}
.new-folder-file #dropdownMenu {
	color: #555;
	border-radius: 150px;
    height: 46px;
    width: 46px;
    padding: 14px;
	background-color: #afafaf;
    color: white;
    border: 1px solid #afafaf;
    padding-left: 16px;
}
.new-folder-file #dropdownMenu:hover {
    background-color: #999;
}
.new-folder-file .dropdown-menu li a {
    color: #555;
}
.new-folder-file .dropdown-menu li a .glyphicon {
    color: #777;
}
// 收起左侧菜单面板图标
// #page-content-wrapper .close-menu-panel,
// .ape-note-well .tree-menu .close-menu-panel {
//     position: fixed;
//     z-index: 99999;
//     left: 250px;
//     /* top: 100vh; */
//     height: 155px;
//     width: 25px;
// 	    /* background: #efefef; */
//     bottom: 0px;
//     border-radius: 0 5px 5px 0;
//     opacity: 0.8;
//     color: #999;
//
//     -webkit-transition: all 0.5s ease;
//     -moz-transition: all 0.5s ease;
//     -o-transition: all 0.5s ease;
//     transition: all 0.5s ease;
// }

// #page-content-wrapper .close-menu-panel .glyphicon,
// .ape-note-well .tree-menu .close-menu-panel .glyphicon {
// 	font-size: 15px;
//     padding-left: 4px;
// 	padding-bottom: 5px;
//     padding-top: 5px;
// 	top: 7px;
//     left: 2px;
//     cursor: pointer;
// }
// #page-content-wrapper .close-menu-panel .glyphicon-chevron-left,
// .ape-note-well .tree-menu .close-menu-panel .glyphicon-chevron-left {
// 	padding-bottom: 10px;
// }
// #page-content-wrapper .close-menu-panel .edit-share-setting-tools,
// .ape-note-well .tree-menu .close-menu-panel .edit-share-setting-tools {
//     display: inline;
//
// }
// #page-content-wrapper .close-menu-panel .edit-share-setting-tools .glyphicon,
// .ape-note-well .tree-menu .close-menu-panel .edit-share-setting-tools .glyphicon {
// 	padding-bottom: 10px;
// }
.ape-note-well .nav-list .sidebar-header {
    text-indent: 10px;
    line-height: 40px;
    font-size: 16px;
    margin-left: -10px;
    cursor: pointer;
}
.ape-note-well .nav-list .notebook-list .sidebar-header:hover {
	background-color: #dedede;
}
.ape-note-well .nav-list .notebook-list .sidebar-header a {
	color: #555;
	text-decoration: none;
}
.ape-note-well .nav-list .notebook-list .sidebar-header a:hover {
	text-decoration: none;
}
.ape-note-well .nav-list .sidebar-header .glyphicon {
    color: #777;
    font-size: 10px;
    top: -1px;
}
// 用于设置展开笔记本时左侧图标旋转90度
.rotation90 {
    // margin:100px auto  0;
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    top: -6px !important;
    right: -6px;
}

.ape-note-well .nav-list li ul {
    // margin-left: 15px;
}
.ape-note-well .nav-list-link:focus,
.ape-note-well .nav-list-link:visited,
.ape-note-well .nav-list-link {
    padding-left: 20px;
    color: #555 !important;
}
.ape-note-well .nav-list-link:hover {
	border-left:solid 1px #555;
}
