{{! 轮播图片}}
<!-- <img src="http://img.ape-note.com/home.png" alt="" class="img-responsive"/> -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="height:574px;">
      <img src="http://img.ape-note.com/home.png" alt="APP首页" height="574px">
      <div class="carousel-caption">
        <!-- 猿笔记首页 -->
      </div>
    </div>
    <div class="item" style="height:574px;">
      <img src="http://img.ape-note.com/edit.png" alt="编辑" height="574px">
      <div class="carousel-caption">
        <!-- 编辑笔记 -->
      </div>
    </div>
    <div class="item" style="height:574px;">
      <img src="http://img.ape-note.com/watch-note.png" alt="预览" height="574px">
      <div class="carousel-caption">
        <!-- 预览笔记 -->
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
