{{! app/templates/components/v2/notebook/list/index-page.hbs }}
<section class="content-preview js-content-preview ">
    <section class="content-preview-content">
        <div class="wrapper">
            <center>
                <h6>您有{{myNotebookTotalCount}}个笔记本，一共{{myNoteTotalCount}}篇笔记。</h6>
                <h6>每一篇笔记都是您成长的见证。</h6>
                <img src="/assets/images/bg/ape-note1.jpg" />
            </center>
        </div>
    </section>
</section>
