<header class="view-header">
    <h2 class="view-title">
        <button class="ape-note-mobilemenu-button" role="presentation">
            {{! 分辨率小于800px时，会在左上角显示一个菜单按钮}}
            {{#fa-icon "fa-bars" size=4}}<span class="sr-only">Menu</span>{{/fa-icon}}
        </button>
        <span>{{model.notebook.title}}</span>
    </h2>
    <!-- <section class="view-actions">
        <a id="ember1174" href="/ghost/editor/" title="New Post" class="btn btn-green">New Post</a>
    </section> -->
</header>
