<!-- <main role="main" class="ape-note-main"> -->
    <section class="ape-note-view content-view-container">
        <header class="view-header">
            <h2 class="view-title">
                <button class="ape-note-mobilemenu-button" role="presentation" data-ember-action="1173">
                    {{! 分辨率小于800px时，会在左上角显示一个菜单按钮}}
                    {{#fa-icon "fa-bars" size=4}}<span class="sr-only">Menu</span>{{/fa-icon}}
                </button>
                <span>我的笔记本</span>
            </h2>
            <!-- <section class="view-actions">
                <a id="ember1174" href="/ghost/editor/" title="New Post" class="btn btn-green">New Post</a>
            </section> -->
        </header>
        <div class="view-container">
            <section class="content-list js-content-list ">
                <section class="content-list-content js-content-scrollbox content-list-content js-content-scrollbox">
                    <ol class="posts-list">
                        <li class="ember-view">
                            <a href="/ghost/102/" title="Edit this post" class="permalink">
                                <h3 class="entry-title">每天三个API——action、concat、each</h3>
                                <section class="entry-meta">
                                    <!-- <span class="avatar" style="background-image: url(/shared/img/user-image.png)">
                                        <img src="/shared/img/user-image.png" title="ubuntuvim">
                                    </span>
                                    <span class="author">ubuntuvim</span> -->
                                    <span class="status">
                                        <time class="date published" datetime="Mon Feb 13 2017 18:44:10 GMT+0800">Published a day ago</time></span>
                                </section>
                            </a>
                        </li>
                    </ol>
                </section>
            </section>
            <section class="content-preview js-content-preview ">
                <section class="post-controls">
                    <a href="/ghost/editor/70/" class="btn btn-minor post-edit">
                        <i class="icon-edit"></i>
                    </a>
                </section>
                <section class="content-preview-content">
                    <div class="wrapper">
                        xxxxxxxx
                    </div>
                </section>
            </section>
        </div>
    </section>
<!-- </main> -->
