
{{! app/templates/v2/notebook/note/show.hbs}}

<section class="content-preview js-content-preview ">
    <section class="content-preview-content">
        <div class="wrapper">
            {{editor-md store=store model=model}}
        </div>
    </section>
</section>
