{{! app/templates/v2/notebook/note/show.hbs}}

<section class="content-preview js-content-preview ">
    <section class="post-controls">
        <a href="/ghost/editor/70/" class="btn btn-minor post-edit">
            <i class="icon-edit"></i>
        </a>
    </section>
    <section class="content-preview-content">
        <div class="wrapper">
            {{! 某个笔记的操作页面：新增、修改、查看}}
            {{!#if model.content}}
                {{!markdown-to-html
                    markdown=model.content
                    omitExtraWLInCodeBlocks=true
                    strikethrough=true
                    literalMidWordUnderscores=true
                    simplifiedAutoLink=true}}
            {{!/if}}

            {{editor-md store=store model=model type='show' content=model.content}}

        </div>
    </section>
</section>
