<h4>删除笔记</h4><br>
删除笔记很简单，看下面的截图说明。

<p>
    <img src="http://img.ape-note.com/help-del-note.png" alt="" />
    <img src="http://img.ape-note.com/help-del-note2.png" alt="" />
    <br>
    <ol>
        <li>首先选择您要删除的笔记</li>
        <li>点击“删除”按钮，之后会弹出一个确认删除的对话框，点击确认即可删除笔记。选择”取消“则不会删除笔记</li>
    </ol>
</p>
