<h4>编辑笔记</h4><br>
首先，按照{{link-to '新建笔记' 'help.note.new'}}的步骤可以创建新的Markdown笔记。如果对于新建的笔记不满意、有新的内容需要更新，你可以通过修改笔记达到目的。

<p>
    <img src="http://img.ape-note.com/help-edit-index.png" alt="" />
    <br>
    <ol>
        <li>首先选择您要编辑的笔记</li>
        <li>点击“编辑”按钮进入编辑页面，编辑页面和新增笔记页面是一致的，编辑器的使用方法也跟新建笔记一致</li>
    </ol>
</p>
<p>
    进入编辑页面后即可直接修改你需要修改的地方。同样的，编辑的笔记内容也是自动保存的。
    保存完毕之后点击<b><i class="fa fa-save" style="color: green;"></i></b>又回到编辑之前的页面。
    <img src="http://img.ape-note.com/help-edit-index2.png" alt="" />
</p>
