<h4>新建笔记</h4><br>
首先，按照{{link-to '新建笔记本' 'help.notebook.new'}}步骤可以创建新的Markdown笔记。
<p>
<br><br>
<h6>新建Markdown笔记界面</h6>
<br><br>
<img src="http://img.ape-note.com/help-new-index.png" alt="" />
<ol>
    <li>笔记标题</li>
    <li>主内容区，在这个编辑框中输入您的Markdown笔记的内容。</li>
    <li>实时预览区，在左边编辑的笔记内容会即时显示在右边</li>
    <li>工具栏，对于一些不是很熟悉Markdown语法的用户可以通过直接点击工具栏上的图标插入对应的Markdown标签。在本页面下面会详细介绍工具栏的使用。</li>
</ol>
</p>
<p>
    <h5>一、保存笔记</h5>
    用户输入的笔记内容会自动保存，不需要用户额外点击保存的按钮，
    如果你怕笔记不能保存成功。待笔记编写完成后可以点击编辑器工具栏上保存按钮（最后一个图标） <b><i class="fa fa-save" style="color: green;"></i></b> 手动保存笔记，
    保存完成之后会自动跳转回到新创建笔记的查看页面。
</p>
<p>
    <h5>二、插入图片</h5><br>
    在编辑文章时经常需要插入图片。由于Markdown插入图片是使用标签<code>![图片说明](图片地址)</code>来插入一张图片，着就意味着图片的地址是一个能真实访问的URL。
    为了能让用户省去这些麻烦，猿笔记直接提供了图片上传功能，上传的图片可以直接插入到编辑的内容中。
    <br>
    <strong>点击图标<i class="fa fa-image"></i>会弹出插入图片的对话框，对话框如下图</strong>
    <img src="http://img.ape-note.com/help-new-index-img.png" alt="对话框图片" />
    <ol>
        <li>可以选择从我的图库中插入已经上传过的图片。或者新上传图片。</li>
        <li>选择图片后点击插入</li>
    </ol>
    <br>
    <h6>新上传图片</h6>
    <img src="http://img.ape-note.com/help-new-index-img2.png" alt="" />
    <ol>
        <li>点击选择文件，选择文件后会自动把图片上传到服务器，这个过程不要用户关注</li>
        <li>图片插入成功后点击底部的“插入”按钮，如果你不小心关闭了插入对话框也不要紧，再次打开对话框直接从“我的图库”中选中刚刚上传的图片再插入即可。</li>
    </ol>
</p>
<p>
    <h6>插入图片后的效果</h6>
    <img src="http://img.ape-note.com/help-new-index-img-result.png" alt="" />
</p>
<hr>
<p>
    <h5>三、插入超链接</h5><br>
    插入超链接相比插入图片更加简单，点击工具栏上的<i class="fa fa-link"></i>弹出插入对话框，直接在对话框中输入您要插入的超链接即可。
    如下图：
    <img src="http://img.ape-note.com/help-new-index-link.png" alt="" />
    <br><br>
    <b>注意：</b>正如输入框里的提示信息一样，前面是链接的URL地址，后面是链接的标题，
    中间用一个或多个空格分割。如果你只写一个URL地址，不写链接标题也是可以的。真是插入的结果有点不一样。请看下面的结果截图。
</p>
<p>
    <h6>输入URL和链接标题结果</h6>
    <img src="http://img.ape-note.com/help-new-index-link-have-title.png" alt="" />
    <img src="http://img.ape-note.com/help-new-index-link-have-title-result.png" alt="" />
</p>
<p>
    <h6>只输入URL结果</h6>
    <img src="http://img.ape-note.com/help-new-index-link-no-title.png" alt="" />
    <img src="http://img.ape-note.com/help-new-index-link-no-title-result.png" alt="" />
</p>

<p>
    <h5>其他功能</h5>
    对于其他的功能比较简单，就不过多说明了，用户可以自行点击对应的按钮即可。
</p>
