<h4>搜索笔记</h4><br>

<p>
    对于笔记笔记多的用户，通过搜索直接找到要操作的笔记最好不过了。
</p>
<p>
    <img src="http://img.ape-note.com/help-search-note.png" alt="" /><br>
    <ol>
        <li>在搜索框内输入要搜索的笔记标题</li>
        <li>猿笔记会根据搜索的内容自动把匹配的笔记显示在搜索框下面的列表上</li>
        <li>点击要查看的笔记即可进入笔记查看页面</li>
    </ol>
</p>
