<h4>分享笔记</h4><br>

<p>
    <strong>俗话说得好，独乐乐不如众乐乐。猿笔记也支持分享了。</strong>
</p>
<br>
<h5>分享笔记</h5>
<p>
    <img src="http://img.ape-note.com/help-share-note.png" alt="" /><br><br>
    <ol>
        <li>首先选择您要分享的笔记</li>
        <li>点击“分享”按钮，之后会弹出一个确认分享的对话框</li>
    </ol>
    <img src="http://img.ape-note.com/help-share-note2.png" alt="" />
    <br><br>
    <ol>
        <li>点击复选框“是否分享笔记”打开分享</li>
        <li>点击按钮“复制分享链接到粘贴板”即可复制分享链接</li>
        <li>把分享链接复制给你的朋友吧！</li>
    </ol>
</p>

<h5>查看分享的笔记</h5>
<p>
    <img src="http://img.ape-note.com/help-share-note3.png" alt="" /><br><br>
    直接打开分享的链接，在分享页面还可以评论。
</p>

<h6>评论笔记</h6>
<img src="http://img.ape-note.com/help-share-note4.png" alt="" />
