{{! app/templates/v2/notebook/note.hbs }}

<div class="ape-note-app">
    <a href="javascript:;" class="sr-only sr-only-focusable">Skip to main content</a>
    <aside class="ape-note-alerts">
    </aside>
    <div class="ape-note-viewport">
        {{! 左侧导航以及笔记本列表，标签列表}}
        {{v2/ape-note-left-nav store=store model=model}}

        {{! 右侧主要内容区}}
        <main role="main" class="ape-note-main" id="appMainPanel">
            <section class="ape-note-view content-view-container">
                {{! 顶部标题，小于768px时会显示一个菜单按钮}}
                {{v2/ape-note-right-main-header store=store model=model}}

                <div class="view-container">
                    {{! 笔记}}
                    {{!outlet}}

                    {{! 中间笔记列表}}
                    {{v2/ape-note-right-main-note-list store=store model=model}}


                    <section class="content-preview js-content-preview ">
                        <section class="content-preview-content">
                            <div class="wrapper">
                                {{! （app-note-right-main-note-list.js)在点击中间的笔记列表后动态append进来}}
                            </div>
                        </section>
                    </section>  <!-- // view-container -->

                </div>
            </section>
        </main>


        <aside class="gh-notifications">
            <!---->
        </aside>
        <div class="content-cover">
            <!---->
        </div>
    </div>
</div>
