
<h4>猿笔记介绍</h4><br>
<h6>一个简洁而不简单的笔记应用。</h6>
<p>
    猿笔记是一款帮你记录生活、工作点点滴滴的云服务笔记软件，你可以随时随地记录和查看有价值的信息。猿笔记完美的支持了Markdown语法，是一个非常优雅的Markdown笔记应用。
</p>

<h6>记录、收集有价值的信息</h6>
<ul>
    <li>自己撰写笔记，记录点滴</li>
    <li>网页内容可以一键分享，与你的小伙伴一起分享愉快的记忆</li>
</ul>

<h6>在Web端成为为知笔记的用户</h6>
<ol>
    <li>到{{link-to '注册页面' 'login' target="_blank"}}进行注册</li>
    <li>直接通过第三方帐户登录，快速成为为知笔记的个人用户（推荐方式）</li>
    <li>输入你的有效邮箱并设置一个密码，点击注册，就成为为知笔记的用户了</li>
</ol>
