<h4>主界面</h4><br>
<p>
    笔记首页采用常见的分栏布局模式，轻量级Web页面，完全能满足工作和生活记录、收集需求。
</p>
<p>
    <img src="http://img.ape-note.com/2017-2-4/6f632b0330af43a5bb65f4cf7047e706.png" alt="首页界面" />
</p>
<p>
    <ol>
        <li>用户创建的笔记本都会在这里显示</li>
        <li>会根据左边选中的笔记本而显示笔记本下的所有笔记</li>
        <li>预览笔记窗口</li>
        <li>点击”<i class="icon-add"></i>新建”按钮，弹出一个菜单，可以在菜单上选中新建笔记、新建Markdown笔记</li>
        <li>输入您要查找的笔记标题即可查找</li>
        <li>点击”<i class="icon-edit"></i>”按钮即可进入编辑页面，点击”<i class="icon-trash"></i>”按钮会弹出确山删除的对话框，确认后即可删除当前的笔记</li>
        <li>顶部显示的是选中的笔记本名称，点击文字或者文字右边的空白处即可进入编辑模式，可以直接编辑笔记本名称，编辑的内容会自动保存</li>
        <li>设置中心，点击文字出现下拉菜单，在菜单中选中自己要处理的事情，包括猿笔记主页、笔记本管理、回收站、使用帮助、退出</li>
    </ol>
</p>
