<h4>回收站</h4><br>

<p>
    回收站，顾名思义。这里就是存放着平常我们删除的笔记本和删除的笔记。如果你想恢复某个笔记本或者某个笔记可以从这里恢复。
</p>
<p>
    <img src="http://img.ape-note.com/help-recycle.png" alt="" /><br>
    <ol>
        <li>点击1处的文字会弹出一个下拉菜单</li>
        <li>在菜单上选择“<i class="fa fa-recycle"></i>回收站”，进入回收站</li>
    </ol>
</p>
<p>
    <img src="http://img.ape-note.com/help-recycle2.png" alt="" /><br>
    <ol>
        <li>在回收站中可以看到被删除的笔记本和被删除的笔记，第一个列表是被删除的笔记本，第二个列表是被删除的笔记</li>
        <li>点击右边的“<i class="fa fa-recycle"></i>恢复”即可恢复被删除的笔记本或笔记</li>
    </ol>
</p>
<p>
    <b>注意：</b>这个界面只能做恢复操作，并不能修改或者删除笔记。如果要修改或删除请到相应的菜单下操作。
</p>
