<h4>删除笔记本</h4><br>
<p>

<img src="http://img.ape-note.com/help-edit-note2-1.png" alt="" /><br>
按照数字顺序点击文字位置即可出现下图的笔记本列表界面。<br><br>

<img src="http://img.ape-note.com/help-edit-note2-2.png" alt="" /><br>
按照图片的此次操作，就可以进入到笔记本列表界面，然后在界面上红色2标注的位置点击”<i class="icon-trash"></i>删除”按钮，
点击之后会弹出一个确认的对话框，确认之后即可删除笔记本，<strong style="color: red;">需要注意的是，删除笔记本会把笔记本下属的所有笔记也删除，请谨慎使用。</strong>
但是如果误删了还是有办法可以恢复的，您可以在{{link-to '回收站' 'help.recycle'}}中恢复误删的笔记或者笔记本。
</p>
