<h4>编辑笔记本</h4><br>
<p>
    编辑笔记本有两种方法：
</p>
<p>
    <strong>方法一，直接编辑</strong>
    <img src="http://img.ape-note.com/help-edit-note1.png" alt="" /><br>
    点击文字，或者点击文字右边的空白处进入编辑模式，直接修改笔记本，修改的内容会自动保存。
</p>
<p>
<strong>方法二，在笔记本列表修改</strong>
<img src="http://img.ape-note.com/help-edit-note2-1.png" alt="" /><br>
按照数字顺序点击文字位置即可出现下图的笔记本列表界面。<br><br>

<img src="http://img.ape-note.com/help-edit-note2-2.png" alt="" /><br>
按照图片的此次操作，就可以进入到笔记本列表界面，在列表界面直接修改笔记本的标题，修改的输入框在图二红色1标注的地方。
</p>
