<h4>新建笔记本</h4><br>
<p>
    <img src="http://img.ape-note.com/help-new3.png" alt="新建" />
    图1<br><br>
</p>
<p>
    <img src="http://img.ape-note.com/help-new2.png" alt="新建笔记" />
    <strong>图2</strong>
</p>
<p>
    点击“新建”弹出图2所示的菜单项目，在菜单上可以新建笔记本、新建Markdown笔记。点击菜单项即可进入相应从处理页面。
</p>

<h5>创建新的笔记本</h5>
<img src="http://img.ape-note.com/help-new-notebook.png" alt="" />
<p>
    输入笔记本名称，然后点击“保存”即可创建一个新的笔记本。
</p>
