{{! app/template/notebook/index.hbs ±Ê¼Ç±¾Ê×Ò³}}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <img src="http://img.ape-note.com/1.png" alt="" class="img-responsive" />
        </div>
    </div>
</div>
