{{! app/templates/application-loading.hbs 项目正在加载提示}}

<div class="ddlisting-loading">
    <!-- <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span> -->
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="left: 50%;position: fixed;top: 50%;"></i>
    <h2 class="loading-h1">精彩即将呈现……</h2>
</div>
