<nav class="navbar navbar-default my-navbar navbar-fixed-top" role="navigation">

 <div class="container-fluid">
   <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="#">
       <i class="iconfont">&#xe609;</i>
       <span>APE NOTE笔记</span>
   </a>
     </div>

   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <!-- <form class="navbar-form navbar-left" role="search">
           <div class="form-group has-feedback">
             {{input type="text" class="form-control search-input" placeholder="搜索笔记……"
                 id="publicTodosSearchInputId" aria-describedby="searchAriaDescribedby2" value=queryPublicTodoValue}}
             <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
             <span id="searchAriaDescribedby2" class="sr-only">(success)</span>
           </div>
       </form> -->
     <ul class="nav navbar-nav navbar-right">
       <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">1527254027@qq.com <span class="caret"></span></a>
         <ul class="dropdown-menu" role="menu">
           <li><a href="#">我的账号</a></li>
           <li><a href="#">邀请好友</a></li>
           <li class="divider"></li>
           <li><a href="#">官方博客</a></li>
           <li><a href="#">意见反馈</a></li>
           <li><a href="#">使用帮助</a></li>
           <li class="divider"></li>
           <li><a href="#">退出</a></li>
         </ul>
       </li>
     </ul>
   </div><!-- /.navbar-collapse -->
 </div><!-- /.container-fluid -->
 </nav>

<!-- application -->
 <div id="wrapper">
	{{outlet}}
 </div>
 <!-- /#wrapper -->

  {{! 创建笔记本}}
  {{create-notebook-modal store=store model=model}}
