{{! app/templates/application-loading.hbs 项目正在加载提示}}

<div class="ddlisting-loading">
    <h2 class="loading-h1">正在加载……</h2> 
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
