<div class="container">
    <div class="row">


        .icon-user:<i class="icon-user"></i>

        .icon-search:<i class="icon-search"></i>

        .icon-design:<i class="icon-design"></i>

        .icon-content:<i class="icon-content"></i>

        .icon-x:<i class="icon-x"></i>

        .icon-add:<i class="icon-add"></i>

        .icon-apps:<i class="icon-apps"></i>

        .icon-settings:<i class="icon-settings"></i>

        .icon-front-end:<i class="icon-front-end"></i>

        .icon-dash:<i class="icon-dash"></i>

        .icon-tag:<i class="icon-tag"></i>

        .icon-compass:<i class="icon-compass"></i>

        .icon-code:<i class="icon-code"></i>

        .icon-team:<i class="icon-team"></i>

        .icon-idea:<i class="icon-idea"></i>

        .icon-arrow:<i class="icon-arrow"></i>

        .icon-pen:<i class="icon-pen"></i>

        .icon-clip:<i class="icon-clip"></i>

        .icon-trash:<i class="icon-trash"></i>

        .icon-edit:<i class="icon-edit"></i>

        .icon-new:<i class="icon-new"></i>

        .icon-lock:<i class="icon-lock"></i>

        .icon-link:<i class="icon-link"></i>

        .icon-chat:<i class="icon-chat"></i>

        .icon-smiley:<i class="icon-smiley"></i>

        .icon-star:<i class="icon-star"></i>

        .icon-rss:<i class="icon-rss"></i>

        .icon-hotspot:<i class="icon-hotspot"></i>

        .icon-mail:<i class="icon-mail"></i>

        .icon-sound-on:<i class="icon-sound-on"></i>

        .icon-sound-off:<i class="icon-sound-off"></i>

        .icon-download:<i class="icon-download"></i>

        .icon-upload:<i class="icon-upload"></i>

        .icon-bell:<i class="icon-bell"></i>

        .icon-shop:<i class="icon-shop"></i>

        .icon-box:<i class="icon-box"></i>

        .icon-connections:<i class="icon-connections"></i>

        .icon-arrow-right:<i class="icon-arrow-right"></i>

        .icon-arrow-left:<i class="icon-arrow-left"></i>

        .icon-arrow-up:<i class="icon-arrow-up"></i>

        .icon-ghost:<i class="icon-ghost"></i>

        .icon-dice:<i class="icon-dice"></i>

        .icon-ambulance:<i class="icon-ambulance"></i>

        .icon-calendar:<i class="icon-calendar"></i>

        .icon-folder:<i class="icon-folder"></i>

        .icon-pulse:<i class="icon-pulse"></i>

        .icon-photos:<i class="icon-photos"></i>

        .icon-legal:<i class="icon-legal"></i>

        .icon-letter:<i class="icon-letter"></i>

        .icon-grid:<i class="icon-grid"></i>

        .icon-list:<i class="icon-list"></i>

        .icon-blog:<i class="icon-blog"></i>

        .icon-question:<i class="icon-question"></i>

        .icon-error:<i class="icon-error"></i>

        .icon-power:<i class="icon-power"></i>

        .icon-markdown:<i class="icon-markdown"></i>

        .icon-external:<i class="icon-external"></i>

        .icon-arrow2:<i class="icon-arrow2"></i>

        .icon-arrow2-up:<i class="icon-arrow2-up"></i>

        .icon-arrow2-left:<i class="icon-arrow2-left"></i>

        .icon-arrow2-right:<i class="icon-arrow2-right"></i>

        .icon-x2:<i class="icon-x2"></i>

        .icon-gh:<i class="icon-gh"></i>

        .icon-signout:<i class="icon-signout"></i>

        .icon-minimise:<i class="icon-minimise"></i>

        .icon-maximise:<i class="icon-maximise"></i>

        .icon-book:<i class="icon-book"></i>

        .icon-twitter:<i class="icon-twitter"></i>

        .icon-check:<i class="icon-check"></i>

        .icon-grab:<i class="icon-grab"></i>

        .icon-add2<i class="icon-add2"></i>

        .icon-pause:<i class="icon-pause"></i>

        icon-play:<i class="icon-play"></i>
    </div>
</div>
